.main {
    background-color: var(--cor2);
    padding: 2rem;
    margin: 3rem auto;
    max-width: 50rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main h1{
    font-size: 2rem;
    text-align: center;
}

