*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --cor1: #0a4f70;
    --cor2: #fff;
    --cor3: #f04c64;
    --cor4: #51c5de;
}

body{
    font-family: sans-serif;
    background-color: var(--cor1);
}

